  {:name "Dragon Blog Generator"
   :description "A fire-breathing blog generator"
   :domain "dragon.github.io"
   :port 5097
   :paths {
     :input "./posts"
     :output "docs"
     :base "/blog"
     :posts "/blog/archives"}
   :files {
     :output-template "%s.html"}
   :links {
     :template "<a href=\"%s\">%s</a>"}
   :feed {
     :count 20}
   :archives {
     :posts-per-page 50}
   :logging {
     :level :trace
     :nss [clojusc dragon]
     :color true}
   :parsing {
     :skip-marker "%%%"
     :word-separator "\\s"
     :word-joiner " "
     :paragraph-separator "\n\n"
     :tag-separator ",\\s?"
     :sentence-end "."
     :ellipsis " ..."
     :period-ellipsis ".."}
   :blocks {
     :enabled #{}}
   :robots {
     :allow #{"/blog"}
     :disallow #{}}
   :processor {
     :constructor :default}
   :default-images {
     :post "post-%s.jpg"
     :headliner "headline-%s.jpg"
     :small "small-%s.png"
     :thumb "thumb-%s.png"
     :count 8}
   :headlines {
     :count 20
     :lead {}
     :supporting {
       :count 5}
     :middle {
       :count 5}
     :trailing {
       :count 12
       :per-row 3}}
   :db {
     :type :redis
     :redis {
       :pool {}
       :spec {
         :host "127.0.0.1" :port 6379}}}
   :watcher {
     :type :hawk
     :content {
       :dirs ["./posts"]
       :action clojure.core/constantly
       :restart? false}
     :docs {
       :dirs []
       :restart? false}
     :sass {
       :dirs []
       :restart? false}}
   :apis {
     :flickr {
       :access "~/.flickr/access.key"}
     :twitter {
       :app-consumer {
         :key "~/.twitter/app-consumer.key"
         :secret "~/.twitter/app-consumer.secret"}
       :user-access {
         :token "~/.twitter/user-access.token"
         :secret "~/.twitter/user-access.secret"}}}}
